body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #d8da3d;
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 0;
  }
}
